div#root {
	font-weight: 500;
}
div.parent {
	background-color: #33373e;
	width: auto;
	display: flex;
	flex-direction: column;
	justify-content: start;
	align-items: flex-start;
	color: white;
	width: 481px;
	height: 359px;
}
div.parent > * {
	width: 100%;
}
.cont {
	margin-top: 20px;
}
.parent header nav {
	display: flex;
	background-color: #282d35;
	padding: 5px 10px;
	align-items: center;
}
header img {
	width: 50px;
}
header .logo {
	list-style: none;
	display: flex;
	gap: 5px;
	margin-right: auto;
	align-items: center;
	color: #61dafb;
}
header .project-num {
	display: flex;
	align-items: center;
	font-size: 18px;
}
.cont > * {
	padding: 5px 10px;
}
.cont ol {
	margin: 0px;
	list-style: disc;
}
.cont ol li {
	margin-bottom: 10px;
}
.cont ol li::marker {
	color: #61dafb;
}
